<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/login.css">
</head>

<body>
    <div class="form-container">
        <form id="login-form">
            <input type="text" id="username" placeholder="Username">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Password">
            <button id="signup-button" type="submit">Sign Up</button>
        </form>
        <div id="error-message" class="error-message"></div>
    </div>
    <script src="/javascripts/signup.js"></script>
</body>

</html>