@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

#header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px;
}
#header-nav button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}
#header-nav button:hover {
  background-color: #f7fafa;
}
#header-nav button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 80px 0px 80px;
}

.center-panel > table {
  min-width: 600px;
}

#brand-filter,
#type-filter {
  display: flex;
  flex-direction: column;
}

#page-control-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

.right-panel {
  width: 200px;
}

.favorite-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 5px;
}

.favorite-button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
.favorite-button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5), 0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
.favorite-button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5), 0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
.favorite-button[disabled] {
  background: #C9C9C9;
  cursor: not-allowed;
}